@page
@model UbicaTec.Pages.AboutUsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="~/Css/Styles.css" rel="stylesheet" />
	<title>Ubica-Tec</title>
</head>
<body class="grid-container2">
	<header class="header">
		<div class="iconTitle">
			<a class="Icono"><img class="icon" src="~/Images/Diseños/Logo.png" alt="icon" /></a>
			<h1>Ubica-Tec</h1>
		</div>

		<a href="#"><img class="iconMenu" src="~/Images/Diseños/menu.png" alt="filter icon" /></a>
	</header>
	<main class="main2">
		<div class="Container">
			<img class="imagLogo" src="~/Images/Diseños/sin-login.png" />
			<h4 id="title">Desarrolladores:</h4>
			<ul class="Desarrolladores">
				<li> Diseñador: Alexander Contreras</li>
				<li> Desarrollador Front-End: Yadira Zamarrón</li>
				<li> Desarrollador Back-End: Mario Espinoza</li>
			</ul>

			<a class="LoginAdmin"><input class="login" type="button" value="Iniciar Sesión" /></a>

		</div>
	</main>
	<nav class="footer">
		<div class="nav-item">
			<a class="GenerarRutas">
				<img src="~/Images/Diseños/ruta.png" alt="ruta icon" />
				<h3>Ruta</h3>
			</a>
		</div>
		<div class="nav-item">
			<a hr class="Inicio">
				<img src="~/Images/Diseños/casa.png" alt="home icon" />
				<h3>Inicio</h3>
			</a>
		</div>
		<div class="nav-item">
			<a h class="Ayuda">
				<img src="~/Images/Diseños/Help.png" alt="help icon" />
				<h3>Ayuda</h3>
			</a>
		</div>

	</nav>
	<script>
		//NAVEGACION

		//ICONO SUPERIOR IZQUIERDO
		let Icono = document.querySelector(".Icono").addEventListener("click", function () {
			window.location.replace("/AboutUs");
		});

		//BOTON LOGIN
		let LoginAdmin = document.querySelector(".LoginAdmin").addEventListener("click", function () {
			window.location.replace("/Login");
		});
		//NAVBAR INFERIOR
		let Home = document.querySelector(".Inicio").addEventListener("click", function () {
			window.location.replace("/Index");
		});
		let Ruta = document.querySelector(".GenerarRutas").addEventListener("click", function () {
			window.location.replace("/GenerarRuta");
		});
		let help = document.querySelector(".Ayuda").addEventListener("click", function () {
			window.location.replace("/Ayuda");
		});

	</script>
</body>
</html>
	
	
